[run]
source = src
omit = 
    src/module_2_code/*
    src/__pycache__/*
    src/setup_databases.py
    */tests/*
    */test_*.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
